@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC|Tangerine');
@import url('https://fonts.googleapis.com/css?family=Oswald');
.container
{
  position: relative;
  transition: 0.5s;
  margin-top: 80px;
  margin-left: 180px;
  background: rgba(0,0,0,0.1);
}
.container img{
  position: absolute;
  width: 30%;
  transition: 0.5s;
}
.container:hover img:nth-child(4)
{
  transform: translate(-160px,160px);
  opacity: 1;
}
.container:hover img:nth-child(3)
{
  transform: translate(-120px,120px);
  opacity: 0.8;
}
.container:hover img:nth-child(2)
{
  transform: translate(-80px,80px);
  opacity: 0.6;
}
.container:hover img:nth-child(1)
{
  transform: translate(-40px,40px);
  opacity: 0.4;
}
header{
  background-color: black;
  color: white;
  height: 50px;
  margin-top: 0px;
  margin-left: 0px;
}

header h1{
font-family: 'Playfair Display SC', serif;
font-family: 'Tangerine', cursive;
font-weight: 300;
font-style: 32px;
float:left;
margin-top: 18px;
margin-right: 0px;
margin-left: 10px;
}

nav ul{
  display: inline;
  padding:0px;
  float:left;
}

nav ul li{
  display: inline-block;
  list-style-type: none;
  float:left;
}

nav ul li a{
  color: white;
  text-decoration: none;
  margin-left: 50px;
}

#nav1
{
  font-family: 'Oswald', sans-serif;
}

.divider
{
  background-color: rgb(128,128,128);
    height: 15px;
    margin-bottom: 0px;
}
#rcorners1 {
    border-radius: 25px;
    border: 2px solid #D3D3D3;
    padding: 20px; 
    width: 400px;
    height: 150px; 
    margin-top: 0px;   
}
.homegreen:hover{
  background-color: rgb(128,128,128);
  padding: 15px 5px 10px 5px
}
footer {
    padding: 10px ;
    margin-top: 200px;
  background-color: #101010;
    color:#9d9d9d;
    bottom: 0;
    width: 100%;
}
